body{
    box-sizing: border-box;
    padding: 0;
}

#nav-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
}

.btn{
    height: 60px;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn:active{
    height: 60px;
    border: none;
    color: white;
    font-size: medium;
    opacity: 85%;
    
}


.one{
    background-color: #9264CD;

}

.two{
    background-color: #97D800;
}

.input{
    width: 160px;
    height: 20px;
    border-radius: 2px;
    color: #001446;
    outline: #001446;
    border: 1px solid #001446;
}

.ptInfoForm{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: end;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.ptVitalForm{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.dimensionParent{
    display: grid;
    min-height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    margin: 10px;
}

.dimensionChild{
 background-color: #A6DDF8;
 min-height: 100px;
 border-radius: 5px;
 text-align: center;
 justify-content: center;
 padding: 20px;
}

#lastBox{
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    padding: 10px;

}

.lastBoxChild{
    background-color: #e3fda5;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

#ecobtn{
    width: 150px;
    height: 35px;
    margin: 20px 0px 50px 1000px;
    background-color: #001446;
    color: white;
    border: none;
    border-radius: 5px;

}

#ecobtn:active{
    width: 150px;
    height: 35px;
    margin: 20px 0px 50px 1000px;
    background-color: #001446;
    color: white;
    border: none;
    border-radius: 5px;
    opacity: 90%;
    /* text-align: end; */

}


/* Prescription */
#prsc-parent{
    min-height: 600px;
    width: 98%;
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 10px;
    grid-gap: 12px;
}

#prsc-child-1{
    min-height: 500px;
    background-color: #cbb2ec;
    border-radius: 5px;
}

#prsc-child-2{
    min-height: 500px;
    background-color: white;
    border-radius: 5px;
}

.btn-purple{
height: 30px;
width: 200px;
color: white;
background-color: purple;
border: none;
border-radius: 5px;
}

.btn-purple:active{
    height: 30px;
    width: 200px;
    color: white;
    background-color: purple;
    border: none;
    opacity: 80%;
    border-radius: 7px;
    }